@font-face {
    font-family: "godeunJemok";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "godeunJemok";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/godeunJemok/godeunJemok-Bold.ttf") format("truetype");
    font-display: swap;
} 
.godeunJemok {
    font-family: "godeunJemok";
}
.godeunJemok500 {
    font-family: "godeunJemok";
    font-weight: 500;
}
.godeunJemok700 {
    font-family: "godeunJemok";
    font-weight: 700;
}
